@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/img/lebron.jpg" alt="LeBron James" class="img-fluid" />
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Player Details:</h1>
                            <div class="form-group mt-5">
                                <label class="font-weight-bold">Name:</label>
                                <p>LeBron James</p>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold">Position:</label>
                                <p>Small Forward</p>
                            </div>
                    
                            <div class="form-group">
                                <label class="font-weight-bold">Age:</label>
                                <p>41</p>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold">League:</label>
                                <p>NBA</p>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold">NBA Team</label>
                                <p>Los Angeles Lakers</p>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold">NBA hampionships:</label>
                                <p>4</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>