@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jacalan, Clarisse Yvonne</h1>
</div>

<div class="row">
<div class="col-6" id="card-padding">
    <div class="card" style="width: 320px; margin-top: 50px; margin-left:70px">
        <img class="card-body" src="~/img/lisa.jpg" />
        <div class="card-body">
            <p class=" card-text text-center"> L I S A</p>
        </div>
    </div>
</div>

<div class="col-6" style="margin-top: 50px">
        <h3> NAME: Lalisa Manoban</h3>
        <h4>BORN: March 27</h4>
        <p>A Thai rapper, singer and dancer.</p>
        <p>A member of the South Korean girl group Blackpink, which debuted under YG Entertainment in 2016.</p>
</div>
</div>