@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Photo Gallery</h1>
    <img src="~/img/275994750_2243085089181520_6792845195831778295_n.jpg" />
    <p><a asp-action="Index" asp-controller="Home">Back to Home</a></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
