@{
    ViewData["Title"] = "Emman Page";
}

<div class="text-center">
    <h1 class="display-4">Emmanuel Yngayo Espinosa</h1>
    <p>This is just a test. Like my entire existence, this too shall pass.</p>

    <p>Roses are red, barbie is cute, your voice sounds so nice when it's on mute.</p>

    <div>
        <img src="~/img/kittyuwu.jpg"
             style="width: 350px; position: relative;" alt="barbielat">

        <img src="~/img/allen.jpg"
             style="width: 350px; position: relative;" alt="allenuwu">

        <img src="~/img/blessed.jpg"
             style="width: 350px; position: relative;" alt="blessed">
    </div>

    <div>
    </div>
</div>

