.footer {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: 0;
    right: 0;
    height: 64px;
    line-height: 64px;
    vertical-align: middle;
    bottom: 0;
    /* padding: 10px; */
    font-size: 0.9em;
    text-align: center;
}
